USE [master]
GO
/****** Object:  Database [NexaWorks]    Script Date: 17/05/2024 19:42:54 ******/
CREATE DATABASE [NexaWorks]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NexaWorks', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\NexaWorks.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NexaWorks_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\NexaWorks_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NexaWorks].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NexaWorks]
GO
/****** Object:  Table [dbo].[Implementation]    Script Date: 17/05/2024 19:42:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Implementation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[produitVersionId] [int] NOT NULL,
	[systemeExploitationId] [int] NOT NULL,
 CONSTRAINT [PK_Implementation] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Probleme]    Script Date: 17/05/2024 19:42:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Probleme](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[implementationId] [int] NOT NULL,
	[statutId] [int] NOT NULL,
	[dateDeCreation] [datetime] NOT NULL,
	[description] [varchar](max) NOT NULL,
	[resolution] [varchar](max) NULL,
	[dateDeResolution] [datetime] NULL,
 CONSTRAINT [PK_Ticket] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produit]    Script Date: 17/05/2024 19:42:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produit](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Produit] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Nom] UNIQUE NONCLUSTERED 
(
	[nom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProduitVersion]    Script Date: 17/05/2024 19:42:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProduitVersion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[produitId] [int] NOT NULL,
	[versionId] [int] NOT NULL,
 CONSTRAINT [PK_ProduitVersion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statut]    Script Date: 17/05/2024 19:42:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statut](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Etat] UNIQUE NONCLUSTERED 
(
	[nom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemeExploitation]    Script Date: 17/05/2024 19:42:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemeExploitation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](50) NOT NULL,
 CONSTRAINT [PK_SystemeExploitation] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_NomE] UNIQUE NONCLUSTERED 
(
	[nom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Version]    Script Date: 17/05/2024 19:42:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Version](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[numero] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Version] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Numero] UNIQUE NONCLUSTERED 
(
	[numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Implementation]  WITH CHECK ADD  CONSTRAINT [FK_Implementation_ProduitVersion] FOREIGN KEY([produitVersionId])
REFERENCES [dbo].[ProduitVersion] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Implementation] CHECK CONSTRAINT [FK_Implementation_ProduitVersion]
GO
ALTER TABLE [dbo].[Implementation]  WITH CHECK ADD  CONSTRAINT [FK_Implementation_SystemeExploitation] FOREIGN KEY([systemeExploitationId])
REFERENCES [dbo].[SystemeExploitation] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Implementation] CHECK CONSTRAINT [FK_Implementation_SystemeExploitation]
GO
ALTER TABLE [dbo].[Probleme]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Implementation] FOREIGN KEY([implementationId])
REFERENCES [dbo].[Implementation] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Probleme] CHECK CONSTRAINT [FK_Ticket_Implementation]
GO
ALTER TABLE [dbo].[Probleme]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Status] FOREIGN KEY([statutId])
REFERENCES [dbo].[Statut] ([id])
GO
ALTER TABLE [dbo].[Probleme] CHECK CONSTRAINT [FK_Ticket_Status]
GO
ALTER TABLE [dbo].[ProduitVersion]  WITH CHECK ADD  CONSTRAINT [FK_Produit_ProduitVersion] FOREIGN KEY([produitId])
REFERENCES [dbo].[Produit] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProduitVersion] CHECK CONSTRAINT [FK_Produit_ProduitVersion]
GO
ALTER TABLE [dbo].[ProduitVersion]  WITH CHECK ADD  CONSTRAINT [FK_Version_ProduitVersion] FOREIGN KEY([versionId])
REFERENCES [dbo].[Version] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProduitVersion] CHECK CONSTRAINT [FK_Version_ProduitVersion]
GO
USE [master]
GO
